* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{
    font-family: arial, sans-serif;
    font-weight: 600;
    background-color: #F6F8F9;
}

main{
 width: 80%;
 margin-top: 40px;
 margin-left: 10%;
 border-radius: 10px;   
 background-color: #ffffff;
}

.container{
 width: 70%;
 margin: 0 auto;
 border-radius: 5px;   
 background-color: white;
}

/* / common */

/* header */

header{
height: 70px;
background-color: white;
line-height: 50px;
margin-bottom: 40px;
padding: 10px 20px;
}


#logo{
    height: 100%;
    line-height: 50px;
    vertical-align: middle;
}

#logo-text{  
    font-size: 40px;
    font-weight: 900;
    vertical-align: middle;
    color: #051931;
}
/* / header */



/* main  */

.upper-bar{  
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 50px;
  vertical-align: middle;
  border-bottom: 3px solid #F6F8F9;
}

.lists{
 padding-left: 40px;
}

#task-button{
    background-color: #47ADF1;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #47ADF1;

}

#section-button{
    background-color: #ffffff;
    color: grey;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
}

.activity{
    margin: 20px;
}

.green-tick, .red-cross{
    display: inline-block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center; 
}

.green-tick{
    color: green;
    border: 2px solid;
}

.red-cross{
    color: red;
    border: 2px solid;
}

.to-do-thing{

}

.category{
    font-size: 12px;
    font-weight: bold;
    padding: 7px;
    color: white;
    border-radius: 12px;  
}

.editorial{
    background-color: #45ABEA;
}

.q1-goals{
    background-color: #9C72E4;
}

.recruiting{
    background-color: #64C0A9;
}

.mobile{
    background-color: #F29E33;
}

.website{
    background-color: #D863A1;
}

.sales{
    background-color: #B0C926;
}
/* / main  */

