* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    font-weight: 600;
}

body{
    background-color: #F6F8F9;
}

main{
 width: 80%;
 margin-top: 40px;
 margin-left: 10%;
 background-color: #ffffff;
 border-radius: 10px;   
}

/* header */

#header-top{
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: #051931;
    font-size: 40px;
    font-weight: bold;
}

#logo{
    line-height: 50px;
    vertical-align: middle;
}

#logo-text{  
    vertical-align: middle;
}
/* / header */



/* main  */

.upper-bar{
  padding-left: 40px;
  height: 50px;  
  line-height: 50px;
  vertical-align: middle;
  border-bottom: 3px solid #FAFBFC;
}

.lists{
 padding-left: 40px;
}

#task-button{
    background-color: #47ADF1;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #47ADF1;

}

#section-button{
    background-color: #ffffff;
    color: grey;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
}

.activity{
    margin: 20px;
}


.green-tick{
    padding: 3px;
    color: green;
    border: 2px solid green;
    border-radius: 50%;
}

.red-cross{
    padding: 3px;
    color: red;
    border: 2px solid red;
    border-radius: 50%;
}

.to-do-thing{

}

.category{
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    color: white;
    border-radius: 10px;  
}

.editorial{
    background-color: #45ABEA;
}

.q1-goals{
    background-color: #9C72E4;
}

.recruiting{
    background-color: #64C0A9;
}

.mobile{
    background-color: #F29E33;
}

.website{
    background-color: #D863A1;
}

.sales{
    background-color: #B0C926;
}
/* / main  */

